body {
    font-family: Arial, Helvetica, sans-serif; /* Fuente del texto */
    background-color: #f4f4f4; /* Color de fondo */
    margin: 0; /* Margen exterior */
}

/* Estilo para el header */
header {
    background-color: #333; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centrar el contenido */
}

/* Estilo para el título (h1) */
header h1 {
    font-size: 50px; /* Aumenta el tamaño de la fuente del título */
}

/* Estilo para el contenedor de los enlaces del header */
header nav {
    display: flex; /* Utiliza flexbox para espaciar los enlaces */
    justify-content: space-around; /* Espacia los enlaces uniformemente */
    margin: 20px 0; /* Agrega margen superior e inferior */
}

/* Estilo para los enlaces del header */
header a {
    font-size: 25px; /* Aumenta el tamaño de la fuente de los enlaces */
}

/* Estilo para el contenedor del juego */
.game-container {
    display: flex; /* Utiliza flexbox para centrar los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    max-width: 70%; /* Establece un ancho máximo para que no ocupe toda la página */
    margin: 0 auto; /* Centra el contenedor horizontalmente con márgenes automáticos */
    min-height: 10cm; /* Establece una altura mínima de 10 cm */
    border: 2px solid #333; /* Borde con color similar al fondo del header */
}

/* Estilo para el contenedor del juego */
.game {
    width: 100%; /* Establece un ancho del 100% */
    height: 100%; /* Establece una altura del 100% */
}

canvas {
    width: 100%; /* Establece un ancho del 100% */
    height: 100%; /* Establece una altura del 100% */
}

/* Estilo para los botones de elementos */
.botones_elementos {
    text-align: center; /* Centrar los botones horizontalmente */
    margin: 20px 0; /* Espaciado superior e inferior */
}

/* Estilo para los botones */
button {
    padding: 10px 20px; /* Espaciado interno de los botones */
    font-size: 16px; /* Tamaño de fuente */
    background-color: #333; /* Color de fondo de los botones */
    color: white; /* Color del texto de los botones */
    border: none; /* Sin borde en los botones */
    margin: 5px; /* Espaciado entre los botones */
    cursor: pointer; /* Cambia el cursor al pasar el ratón sobre los botones */
}

/* Estilo para el contenedor de los botones de juego */
.botones_juego {
    margin: 20px 0; /* Espaciado superior e inferior */
    display: flex; /* Muestra los botones de juego en línea */
    justify-content: center; /* Centra los botones de juego horizontalmente */
}

/* Estilo para el contenedor de los botones "Start" y "Stop" */
.botones_juego .start-stop {
    display: inline-block; /* Muestra los botones "Start" y "Stop" en línea */
    vertical-align: top; /* Alinea los botones "Start" y "Stop" en la parte superior */
}

/* Estilo para el botón de "Reset" */
.botones_juego #reset {
    display: inline-block; /* Muestra el botón de "Reset" en línea */
    vertical-align: top; /* Alinea el botón de "Reset" en la parte superior */
    margin-left: 10px; /* Agrega un margen izquierdo para separar los botones */
}

.barra_velocidad {
    display: flex; /* Muestra la barra de velocidad en línea */
    justify-content: center; /* Centra la barra de velocidad horizontalmente */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.barra_velocidad label {
    margin-right: 10px; /* Agrega un margen derecho para separar la etiqueta del rango */
    padding-top: 15px; /* Centra la etiqueta verticalmente */
}

/* Cambia el estilo de los botones de juego cuando se les pasa el ratón por encima */
button:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón */
}

/* Agrega estas reglas al estilo de tu canvas en tu archivo CSS */
canvas {
    background-image: url('universo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el canvas */
}