body {
    font-family: 'Arial', sans-serif;
    background-color: #001f3f; /* Color de fondo oscuro */
    color: #ffffff; /* Color del texto */
    margin: 0;
}

header {
    background-color: #0074cc; /* Color de fondo del encabezado */
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
  /*subrayar el texto*/
  text-decoration: underline;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.introduction {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; /* Color de fondo del área de introducción */
    color: #333333; /* Color del texto dentro del área de introducción */
    border-radius: 10px;
}

.introduction h2 {
    color: #0074cc; /* Color del título de la introducción */
}

footer {
    background-color: #0074cc; /* Color de fondo del pie de página */
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 25px;
}

/* Estilo para el contenedor del juego */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    height: 15cm; /* Establece una altura específica */
    border: 2px solid #333;
}

.game {
    width: 100%;
    height: 100%;
    border: 2px solid red; /* Añade un borde temporal para visualizar el tamaño */
}

canvas {
    width: 100%; /* Establece un ancho del 100% */
    height: 100%; /* Establece una altura del 100% */
}

/* Estilo para el contenedor de los botones de juego */
.botones_juego {
    margin: 20px 0; /* Espaciado superior e inferior */
    display: flex; /* Muestra los botones de juego en línea */
    justify-content: center; /* Centra los botones de juego horizontalmente */
}

/* Estilo para el contenedor de los botones "Start" y "Stop" */
.botones_juego .start-stop {
    display: inline-block; /* Muestra los botones "Start" y "Stop" en línea */
    vertical-align: top; /* Alinea los botones "Start" y "Stop" en la parte superior */
}

/* Estilo para el botón de "Reset" */
.botones_juego #reset {
    display: inline-block; /* Muestra el botón de "Reset" en línea */
    vertical-align: top; /* Alinea el botón de "Reset" en la parte superior */
    margin-left: 10px; /* Agrega un margen izquierdo para separar los botones */
}

.barra_velocidad {
    display: flex; /* Muestra la barra de velocidad en línea */
    justify-content: center; /* Centra la barra de velocidad horizontalmente */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.barra_velocidad label {
    margin-right: 10px; /* Agrega un margen derecho para separar la etiqueta del rango */
    padding-top: 15px; /* Centra la etiqueta verticalmente */
}

/* Estilo para el contenedor de los botones de elementos */
.botones_elementos {
    margin-top: 10px;
    /*Botones en parejas de dos centrados*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin: 5px;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }

    .botones_elementos {
        flex-direction: row;
    }

    .button-64:last-child {
        margin-top: 10px; /* Añade margen superior al último botón en la fila para centrarlo debajo */
    }
}

.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .button-82-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }

  /* Estilo adicional para el contenedor del input y botón */
.generador {
    text-align: center; /* Centra el contenido horizontalmente */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }

  .juego {
    margin: auto;
    width: 80%;
    background-color: #ff8d58; /* Color de fondo del juego */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra la sección horizontalmente */
    text-align: center; /* Centra el texto dentro de la sección */
    margin-bottom: 100px;
    color: #000;
    font-size: 20px;
}

#abstract {
    max-width: 800px; /* Ajusta el ancho máximo del abstract según tus preferencias */
    margin-bottom: 20px; /* Espaciado inferior entre el abstract y el juego interactivo */
}

.juego_interactivo {
    margin-bottom: 30px; /* Espaciado inferior entre el juego interactivo y el área de resultados */
    display: flex;
    flex-direction: row; /* Muestra juego interactivo y resultArea en línea */
    width: 100%; /* Ajusta el ancho al 100% para asegurarte de que ocupen el espacio completo */
}

.jugador {
    display: flex;
    flex-direction: column; /* Apila formulario e imagen verticalmente */
    align-items: center; /* Centra los elementos del jugador horizontalmente */
    width: 45%; /* Ajusta el ancho del jugador según tus preferencias */
}

.form {
    margin-bottom: 10px; /* Espaciado inferior entre el formulario y la imagen */
}

#userChoiceImg, #computerChoiceImg {
    max-width: 90px; /* Ajusta el ancho máximo de la imagen según tus preferencias */
    max-height: 90px; /* Ajusta la altura máxima de la imagen según tus preferencias */
    margin-bottom: 10px; /* Espaciado inferior entre la imagen y el área de resultados */
}

.resultado {
  width: 5%;
  padding: 30px;
}

#resultArea {
  display: flex;
  flex-direction: column; /* Apila formulario e imagen verticalmente */
  align-items: center; /* Centra los elementos del jugador horizontalmente */
  width: 45%; /* Ajusta el ancho del resultArea según tus preferencias */
  text-align: left; /* Alinea el contenido del área de resultados a la izquierda */
  max-width: 300px; /* Ajusta el ancho máximo del resultArea según tus preferencias */
}

select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 1 */
.btn-1 {
  background: rgb(55, 161, 202);
  background: linear-gradient(0deg, rgb(34, 188, 254) 0%, rgb(10, 112, 137) 100%);
  border: none;
}

.btn-1:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

.instructions {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff; /* Color de fondo del área de introducción */
  color: #333333; /* Color del texto dentro del área de introducción */
  border-radius: 10px;
  margin-bottom: 100px;
}